GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

POSTGRES_PRISMA_URL=
POSTGRES_URL_NON_POOLING=

NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=

NEXT_PUBLIC_BASE_URL=

PRINTFUL_TOKEN=

AUTH_SECRET= # Added by `npx auth`. Read more: https://cli.authjs.dev